@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.nav-buttons {
  margin-left: 16%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  color: #d8d8d8;
}

.navbar {
  font-size: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  top: 0;
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: #000;
  transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active .navbar i:hover {
  color: coral;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  font-weight: 500;
  cursor: pointer;
  margin-left: 5px;
}

.hero {
  padding-top: 15%;
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 32px;
  font-weight: 1000;
}

.hero-left p {
  color: #0f0e0e;
  font-size: 40px;
  font-weight: 700;
}

.hero-left p:nth-child(3) {
  font-size: 25px;
  font-weight: 500;
}


.hero .hero-left img {
  width: 70px;
}

.hero .hero-latest-btn img {
  width: 30px;
}


.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff3131;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-light .container-fluid img {
  width: 75px;
  display: flex;
  align-items: center;
  margin-left: 170px;
}

.hero span {
  color: coral;
}

#brand .row img:nth-child(1) {
  margin-left: -100px;
  margin-right: 50px;
  width: 25%;
}

#brand .row img:nth-child(1) {
  margin-left: -100px;
  margin-right: 50px;
  width: 25%;
}

#brand {
  padding-top: 15%;
}

.card {
  display: inline-block;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card h1 {
  font-size: 25px;
  font-weight: 600;
}

.logo {
  color: #eb6857;
}

.logo_name{
    padding-left: 25px;
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 55%;
}

.login_btn{
    width: 120px;
}

#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #fb774b;
}   

.form-group{
    text-align: center;
    justify-content: center;
}

#Cart-items{
    margin: 5px auto;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #fb774b;
    width: 50%;
}